<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">
      ZBX3
    </a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <!-- <li><a href="#">Sass</a></li>      -->
    </ul>
  </div>
</nav>

<header>
  <div class="container">
    <h4>{{title}}</h4>
  </div>
</header>

<div class="main">
  <div class="container">
    <a class="waves-effect waves-light btn-small"><i class="material-icons left">add_box</i>New</a>
    <div class="row" *ngIf="nodes && nodes.length == 0">
      <i class="material-icons mt-dt-color">dns</i> There are no node in this view
    </div>
    <div class="row" *ngIf="nodes && nodes.length > 0">
      <table>
        <thead>
          <tr>
            <th>HOST</th>
            <th>PORT</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let n of nodes">
            <td>{{n.host}}</td>
            <td>{{n.port}}</td>
            <td>
              <i class="material-icons mt-dt-icon mt-dt-color">details</i>
              <i class="material-icons mt-dt-color">cancel</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<footer class="page-footer">
  <div class="container">
    © 2018 Tiago Souza
  </div>
</footer>