<nav>
  <div class="nav-wrapper">
    <ul class="right">
      <li><a (click)="openSideNav()"><i class="material-icons">menu</i></a></li>
    </ul>
    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="assets/office.jpg">
          </div>
          <a href="#user"><img class="circle" src="assets/dog.jpg"></a>
          <a href="#name"><span class="white-text name">Tiago Souza</span></a>
          <a href="#email"><span class="white-text email">tiagotg.ribeiro@gmail.com</span></a>
        </div>
      </li>
      <li>
        <input (change)="upload($event)" [hidden]="true" type="file" accept=".txt" #file>
        <a (click)="file.click()" title="Export"><i class="material-icons">file_upload</i>Import</a>
      </li>
      <li><a href="http://localhost:8001/export/" title="Import"><i class="material-icons">import_export</i>Export</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h4>{{title}}</h4>

  <a (click)="openFormModal()" class="waves-effect waves-light btn-small">
    <i class="material-icons left">add_box</i>New</a>
  <div class="row" *ngIf="nodes && nodes.length == 0">
    <p>
      <i class="material-icons mt-dt-color">dns</i> There are no node in this view
    </p>
  </div>
  <div class="row" *ngIf="nodes && nodes.length > 0">
    <table>
      <thead>
        <tr>
          <th>STATUS</th>
          <th>HOST</th>
          <th>PORT</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let n of nodes">
          <td>
            <div [ngClass]="{'status-clazz-success': n.up === true, 'status-clazz-danger': n.up === false}"> </div>
          </td>
          <td>{{n.host}}</td>
          <td>{{n.port}}</td>
          <td>
            <a (click)="detail(n.key)">
              <i class="material-icons mt-dt-icon mt-dt-color">details</i>
            </a>
            <a (click)="delete(n.key)">
              <i class="material-icons mt-dt-color">cancel</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Structure -->
<div id="mNodeForm" class="modal">
  <div class="modal-content">
    <h6>Remote Node Information</h6>
    <form class="col s12" [formGroup]="nodeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <input id="host" name="host" type="text" class="validate" formControlName="host">
          <label for="host">Host</label>
          <control-messages [control]="nodeForm.controls.host" class="error"></control-messages>
        </div>
        <div class="input-field col s6">
          <input id="port" name="port" type="number" class="validate" formControlName="port">
          <label for="port">Port</label>
          <control-messages [control]="nodeForm.controls.port" class="error"></control-messages>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input [textMask]="{mask: time}" id="start" name="start" type="text" class="validate" formControlName="start">
          <label for="start">Start Time</label>
          <control-messages [control]="nodeForm.controls.start" class="error"></control-messages>
        </div>
        <div class="input-field col s6">
          <input [textMask]="{mask: time}" id="end" name="end" type="text" class="validate" formControlName="end">
          <label for="end">End Time</label>
          <control-messages [control]="nodeForm.controls.end" class="error"></control-messages>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="pollFrequency" name="pollFrequency" type="number" class="validate" formControlName="pollFrequency">
          <label for="pollFrequency">Poll Frequency (Sec.)</label>
          <control-messages [control]="nodeForm.controls.pollFrequency" class="error"></control-messages>
        </div>
        <div class="input-field col s6">
          <input id="expire" name="expire" type="number" class="validate" formControlName="expire">
          <label for="expire">Expire Time (Sec.)</label>
          <control-messages [control]="nodeForm.controls.expire" class="error"></control-messages>
        </div>
      </div>
      <div class="row">
        <p class="right-align">
          <button [disabled]="!nodeForm.valid" class="waves-effect waves-light btn-small">Send</button>
        </p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a (click)="closeFormModal()" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<!-- Modal Structure -->
<div id="mNodeDetail" class="modal">
  <div class="modal-content">
    <h6>Remote Node Information</h6>
    <div *ngIf="node">
      <p>
        Address: {{node.host}}:{{node.port}}
      </p>
      <p>
        Period: {{node.start}} to {{node.end}}
      </p>
      <p>
        Poll frequency: {{node.pollFrequency}}
      </p>
      <p>
        Expire time: {{node.expire}}
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <a (click)="closeDetailModal()" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>