<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">
      ZBX3
    </a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <!-- <li><a href="#">Sass</a></li> -->
    </ul>
  </div>
</nav>

<header>
  <div class="container">
    <h4>{{title}}</h4>
  </div>
</header>

<div class="main">
  <div class="container">
    <a href="#modal1" class="waves-effect waves-light btn-small modal-trigger"><i class="material-icons left">add_box</i>New</a>
    <div class="row" *ngIf="nodes && nodes.length == 0">
      <i class="material-icons mt-dt-color">dns</i> There are no node in this view
    </div>
    <div class="row" *ngIf="nodes && nodes.length > 0">
      <table>
        <thead>
          <tr>
            <th>HOST</th>
            <th>PORT</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let n of nodes">
            <td>{{n.host}}</td>
            <td>{{n.port}}</td>
            <td>
              <i class="material-icons mt-dt-icon mt-dt-color">details</i>
              <i class="material-icons mt-dt-color">cancel</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h6>Remote Node Information</h6>    
    <form class="col s12" [formGroup]="nodeForm" (ngSubmit)="onSubmit()">        
        <div class="row">
            <div class="input-field col s6">                
                <input id="host" name="host" type="text" class="validate" formControlName="host">
                <label for="host">Host</label>
                <control-messages [control]="nodeForm.controls.host" class="error"></control-messages>
            </div>
            <div class="input-field col s6">
                <input id="port" name="port" type="number" class="validate" formControlName="port">
                <label for="port">Port</label>
                <control-messages [control]="nodeForm.controls.port" class="error"></control-messages>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">                
                <input id="start" name="start" type="text" class="validate" formControlName="start">
                <label for="start">Start Time</label>
                <control-messages [control]="nodeForm.controls.start" class="error"></control-messages>
            </div>
            <div class="input-field col s6">                
                <input id="expire" name="end" type="text" class="validate" formControlName="end">
                <label for="end">End Time</label>
                <control-messages [control]="nodeForm.controls.end" class="error"></control-messages>
            </div>
        </div>      
        <div class="row">
            <div class="input-field col s6">                
                <input id="pollfreq" name="pollfreq" type="number" class="validate" formControlName="pollfreq">
                <label for="pollfreq">Poll Frequency (Sec.)</label>
                <control-messages [control]="nodeForm.controls.pollfreq" class="error"></control-messages>
            </div>
            <div class="input-field col s6">                
                <input id="expire" name="expire" type="number" class="validate" formControlName="expire">
                <label for="expire">Expire Time (Sec.)</label>
                <control-messages [control]="nodeForm.controls.expire" class="error"></control-messages>
            </div>
        </div>  
        <div class="row">
            <p class="right-align">
                <button [disabled]="!nodeForm.valid" class="waves-effect waves-light btn-small">Send</button>
            </p>
        </div>
    </form>

  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<footer class="page-footer">
  <div class="container">
    © 2018 Tiago Souza
  </div>
</footer>