/* https://coolors.co/011627-393e41-d3d0cb-ffffc7-d64933 */

html {
    height: 100%;
}

body {
    color: #D3D0CB;
    background-color: #393E41;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
   flex: 1 0 auto;   
}

a {
    cursor: pointer;
}

nav {
    color: #fff;
    background-color: #011627;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #FFFFC7;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #D64933;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.btn, .btn-large, .btn-small:hover {
    text-decoration: none;
    color: #fff;
    background-color: #F64939;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.modal .modal-content {
    padding: 24px;
    background-color: #393E41;
}

.validate {
    color: #FFFFC7 !important;
}

.input-field input:focus + label {
    color: #FFFFC7 !important;
}
  
.row .input-field input:focus {
    border-bottom: 1px solid #FFFFC7 !important;
    box-shadow: 0 1px 0 0 #FFFFC7 !important
}

.clazz-success {
    background-color: #5cb85c;
    font-weight: bold;
}

.clazz-warning {
    background-color: #f57f17;
    font-weight: bold;
}

.clazz-danger {
    background-color: #c9302c;
    font-weight: bold;
}

.sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #011627;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0);
    z-index: 997;
    display: none;
}

.sidenav li>a {
    color: #FFFFC7;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

.sidenav li>a>i, .sidenav li>a>[class^="mdi-"], .sidenav li>a li>a>[class*="mdi-"], .sidenav li>a>i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: #FFFFC7;
}